<% render :layout => 'positions/position', :object => @position do %>
	<br />
	<%= textilize @position.description.gsub(/\s\s/, '<br />') %>
<% end %>
<br />
<p>
	<%#= Need to write something here to check and see if the user has applied! %>
	<center><%= link_to image_tag("../../images/applynow.png", :title => "Apply!"), position_questions_path(@position) %></center>
</p>
<%# This needs to be hidden from users who do not have permissions to edit information. %>
<%#= link_to 'Edit', edit_position_path(@position) %>
<%#= link_to 'Back', positions_path %>