* {
  padding: 0;
  margin: 0;
} 

img {
	border:hidden;
}

body {
  background: #fff;
	font: .74em "Trebuchet MS" Verdana, Arial, sans-serif;
	margin:0;
	padding:0;
}

a {
	color: #3B6EBF;
	text-decoration: none;
}

a:hover {
	color: #3B6EBF;
	text-decoration: underline;
	background:none;
}

.info {
	line-height:1.4em;
	margin: 0 0 5px 0;
}

.field {
	line-height:1.4em;
}
.field label {
	color: #777777;
	display: block;
	float: left;
	margin-right: 1em;
	padding: 0.1em 0;
	text-align: right;
	width: 8em;
}
.field div {
	text-align: left;
	overflow:hidden;
	margin: 2px;
	padding: 2px;
}

.submissions {
	display: block;
	margin-top: 5px;
}

.position {
	padding: 5px;
	margin-bottom:3px;
	border:1px solid #F9F9F9;
}

.invisible {
	background: #FFAEAE;
}

.conflict {
	background: #FFAEAE;
}

.title {
	font-size: 1.8em;
}

/*
#wrap {
	margin: 20px auto;
	width: 90%;
	min-width: 960px;
	background: #fff 
}
*/

/*
#top { 
	height: 30px;
}
*/

#content {
	padding: 0 40px 0 40px;
}

#bottom {
	height: 30px;
}


.header {
	height: 100px;
	background: #85ACF7;
	border:1px solid #E1E1E1;
	border-bottom:none;
	border-top:none;
}

.header h1 {
	padding-left: 17px;
	padding-top: 22px;
	font-size: 22px;
	color: #FFF;
}

.header h1 a {
	font-size: 22px;
	color: #FFF;
	text-decoration: none;
}

.header h2 {
	padding-left: 17px;
	padding-top: 0px;
	font-size: 17px;
	color: #FFF;
}

.breadcrumbs { 
	background: #F6F9FB; 
	border: 1px solid #E1E1E1; 
	border-top:none;
	padding:5px;
	padding-bottom:3px;
	min-height: 20px;
}

a.notices {
	background: #C2DC72;
	border:0px;
	border-top: 1px solid #1A8105;
	padding: 5px;
	display:block;
	cursor: default;
	bottom:0px;
	left:0px;
	position: fixed;
	width:100%;
}

a.notices:hover {
	text-decoration:none;
}

a.errors {
	background: #ff3e31;
	border:0px;
	border-top: 1px solid #b32b23;
	padding: 5px;
	display:block;
	cursor: default;
	color:#000000;
	bottom:0px;
	left:0px;
	position: fixed;
	width:100%;
}

a.errors:hover {
	text-decoration:none;
}

.notices {
	background: #C2DC72;
	border: 1px solid #1A8105;
	padding: 5px;
}

.yellow {
	background: #FAFAD2;
	border: 1px solid #ff0;
	margin: 4px 4px 12px 4px;
}

.fieldset {
	padding: 6px;
}
.fieldset legend {
	font-size: 1.8em;
	margin-bottom: 6px;
}

.spacer {
	margin-bottom:0px;
}
	
.middle {
	float: left;
	width: 80%;
	padding: 1% 1%;
	padding-right:0px;
}
.middle h1 {
	line-height: 1.1em;
}

.jobdesc p {
	font-size: 1.0em;
	line-height: 1.4em; 
	text-align: justify;
}

.right {
	float: right;
	width: 17%;
	max-width: 140px;
	padding: 1% 1%;
	border-left:1px solid #E1E1E1;
	border-right:1px solid #E1E1E1;
	margin-bottom:-1px;
	border-bottom:1px solid #E1E1E1;
}

.right ul {
	margin:0;
}

.right li {
	margin-bottom:5px;
	color: #3B6EBF;
}

.middle h2 {
	color: #3B6EBF;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.right h2 {
	color: #3B6EBF;
	font-size: 14px;
	margin-top: 5px;
}


#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}

#footer {
	text-align: center;
	color: #666;
	padding:2px;
	background: #F6F9FB;
	border: 1px solid #E1E1E1;
	margin-top:-1px;
}

a.subtable {
	display: block;
	background: none;
	cursor:default;
}

a.subtable:hover {
	display: block;
	background:none;
	cursor:default;
}

tr.normal td {
	background: #c2dc72;
	border: 1px solid #1A8105;
	padding:2px;
}

tr.highlight td {
	background: #d1ee7a;
	border: 1px solid #1A8105;
	padding:2px;
}

th.subheader {
	border:1px solid black;
	border-bottom:none;
	cursor:s-resize;
}

th.subheaderclean {
	border:1px solid black;
	border-bottom:none;
}

td.subheader h2 {
	margin:2px;
	text-align:center;
}

tr.admin td {
	background: #ffc84e;
	border: 1px solid #c1983b;
	padding: 2px;
	cursor: auto;
}

li.q {
	display:block;
	background-color:#F5F5F5;
	border:1px solid #EBEBEB;
	margin-bottom:4px;
	padding:4px;
	margin-right:14px;
}

li.a {
	display:block;
	background-color: #fff9d8;
	border:1px solid #F5F0CF;
	padding:4px;
	margin-left:14px;
}

li.asdf {
	display:block;
	padding-left:10px;
}

div.topline {
	display:block;
	border-bottom:1px solid #F9F9F9;
	padding:5px;
	font-size: 13px;
	height: 30px;
}

div.topline a {
	color: #3B6EBF;
	font-size: 16px;
}

div.describe {
	display:block;
	padding:5px;
}

div.poswrap {
	display:block;
	border:1px solid #F9F9F9;
}

div.categories {
	background-color:#F6F9FB;
	border:1px solid #E1E1E1;
	padding:5px;
	margin-bottom:5px;
}

div.totheright {
	float:right;
	display:block;
	padding:5px;
}

div.totheleft {
	float:left;
	display:block;
	padding:5px;
}

div.new {
	float:right;
	display:block;
}

div.buttons {
	float:right;
	display:block;
}

div.questionhead {
	display:block;
	height:20px;
}

#bottombuttonsleft {
	border-top:1px solid #F9F9F9;
	border-right:1px solid #F9F9F9;
	float:left;
	padding-right:5px;
	padding-top:5px;
}

#bottombuttonsright {
	border-top:1px solid #F9F9F9;
	border-left:1px solid #F9F9F9;
	float:right;
	padding-left:5px;
	padding-top:5px;
}

#holder {
	display:block;
}

#registration_login {
	display:block;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #fdfdfd;
	border:1px solid #000000;
	float:left;
	width:49%;
}

#registration_register {
	display:block;
	padding:5px;
	background-color: #fdfdfd;
	border:1px solid #000000;
	float:right;
	width:47%;
	margin-left:2px;
}