<h1>New resume</h1>

<% form_for(@resume, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
	<label for="resume">Upload Your Resume:</label>
    <%= f.file_field :uploaded_data %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', profiles_path %>